<%= form_for(@video) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.label :front_page %>
    <%= f.check_box :front_page  %>
  </div>

  <div class="actions">
    <%= f.submit "Post video", class: "btn btn-primary"  %>
  </div>
<% end %>
