<header class="nav"  >

    
    <nav class="navbar <%= current_page?(root_path) ? "" : "navbar-fixed-top" %>">

    <button type="button" class="navbar-toggle " data-toggle="collapse" data-target="#collapse">
          <span class="sr-only"> Toggle Navigation </span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>

        </button>

    <% unless current_page?(root_path) %>
      <%= link_to(root_path) do %>
        <%= image_tag("cynthiasFace", width: "50", alt: "Return to the homepage") %>
        <span class="smallCyn">Cynthia Shur Petts</span>
          
      <% end %>
     
    <% end %>

      <ul class="nav  navbar-nav <%= current_page?(root_path) ? "navbar" : "navbar-right" %>" role="navigation">
       
        <% unless current_page?(root_path) %>
          <li><%= link_to "Home",   root_path %></li>
        <% end %>
        
        <li><%= link_to "Shows",   shows_path %></li>
        <li><%= link_to "Videos", videos_path %></li>
        <li><%= link_to "Writing", writings_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "About Me", about_path %></li>
        
      </ul>
    </nav>
 
</header>