<header class="navbar navbar-fixed-top">
  <div class="container">
    
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Shows",   shows_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "Videos", "#" %></li>
        <li><%= link_to "About Me", about_path %></li>
        
      </ul>
    </nav>
  </div>
</header>